@import "semantic-ui";
.chatbox {
    height:550px;
    
}
#messages {
    height: 15em;
    overflow: auto;
}
#messages::-webkit-scrollbar
{
    width: 7px;
}
.input {
    button {
      display:none;
    }
}